.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  background-color: white;

  padding: 3rem;
  border-radius: 30px;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.selectWrapper {
  width: 100%;
  margin-bottom: 1.7rem !important;
}

.option {
  text-transform: capitalize !important;
}
