.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  width: 600px;
}

.title {
  margin-bottom: 1.5rem;
}

/* .formWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formItem {
    margin-bottom: 30px !important;
} */
